@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  33%, 66% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.title-text {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 33%;
  position: absolute;
  top: 37%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.title-text > div {
  height: 33%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.title-text > div div {
  font-size: 8vmin;
  padding: 2vmin 0;
  position: absolute;
}
.title-text > div div span {
  display: block;
}
.title-text > div.text-top {
  border-bottom: 0.75vmin solid #000;
  top: 0;
}
.title-text > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.title-text > div.text-topdiv span:first-child {
  color: #767676;
}

.body-text {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 33%;
  position: absolute;
  top: 37%;
  transform: translate(-50%, -10%);
  width: 90vmin;
}